.corpo {
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
    width: 100%;
    height: 100%;
}


.registroform {
    position: absolute;
    width: 40%;
    height: 1050px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -300px;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.loginform {
    position: absolute;
    width: 40%;
    height: 550px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -200px 0 0 -300px;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

/*Animações do Rafael*/
.loginform {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
